<footer class="flex flex-col items-center gap-4 py-6 bg-[#3ABEF9]">
    <div class="info text-2xl">
        <i class="ri-facebook-box-line"></i>
        <i class="ri-instagram-line"></i>
        <i class="ri-linkedin-box-line"></i>
    </div>
    <div class="socials text-xl">Wanderlust Private Limited</div>
    <div class="links text-xl">
        <a href="/listings/privacy">Privacy</a>
        <a href="/listings/terms">Terms</a>
    </div>
</footer>