<nav class="px-5 py-3 w-full md:w-[60vw] mx-auto my-2 bg-white rounded-lg fixed top-0 left-0 right-0 shadow-lg z-50">
    <div class="container flex md:flex-row items-center justify-between">
        <div class="logo text-3xl mb-2 md:mb-0">
            <a href="/"><i class="text-[#080d5c] ri-layout-masonry-line"></i></a>
        </div>
        <div class="elems text-lg flex md:flex-row gap-2 md:gap-4">
            <a class="text-[#080d5c] flex items-center" href="/listings">
                <i class="ri-file-list-line"></i>
                <span class="hidden md:inline ml-2">Show All</span>
            </a>
            <a class="bg-[#A7E6FF] text-black flex items-center px-3 py-1 rounded-lg" href="/listings/new">
                <i class="ri-add-circle-line"></i>
                <span class="hidden md:inline ml-2">Add your own</span>
            </a>
        </div>
    </div>
</nav>
